html {
  overflow:hidden;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  min-width: 275px;
  width: 100%;
  height: 100%;
  position: absolute;
}

.control-panel-header {
  margin-top: 0;
  padding-left: 5px;
  background: #bebec5;
  font-size: 24px;

}

.header-span {
  position: relative;
  clear: both;
  display: block;
  margin: 0;
}

.control-panel-item {
  margin-left: 5px;
}

.inline-list {
  display: inline-block;
  margin: 0;
  width: 100%;
  list-style-type: none;
}

ul li {
  float: left;
  width: 38px;
}

ul li input {
  text-align: center;
}

.single-input, .min-input, .max-input {
  display: block;
  width: 100%;
}

.slider {
  margin: 7px 15px 0 25px;
  width: 150px;
}